.hidden {
    display: none;
}

header {
    font-size: 40px;
    font-family: helvetica;
   display: flex;
   justify-content: center;
   background-color: rgb(255, 235, 190);
   height: 90px;
}

header h3 {
    margin: 0; 
    margin-right: 290px;
    margin-top: 14px;
    color: rgb(228, 145, 112);
}

#main-nav a {
    color:rgb(228, 145, 112);
    margin-left: 60px;
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    margin-top: 33px;
}

#main-nav {
    display: flex;
}

#sounds  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    gap: 30px;
    
}

#sounds p {
    border: 20px;
    padding: 30px;
    font-family: helvetica;
    background-color: rgb(255, 73, 194);
    border-radius: 20px;
    box-shadow: 14px 7px rgb(216, 60, 109);
}

body {
    background: linear-gradient(to bottom, #ffe554, #ff0088) no-repeat;
    margin: 0;
    height: 100vh; 
}

#pause {
   width: 63px;
}

#play {
    width: 63px;
    font-size: 42px;
}

#stop {
    width: 63px;
}

#record {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    
}

.playb  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    gap: 60px;
    
}

.playb button {
    height: 67px;
    font-size: 50px;
    color:  rgb(250, 108, 255);
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}

