.hidden {
    display: none;
}

body {
    background: linear-gradient(to bottom, #ffe554, #ff0088) no-repeat;
    margin: 0;
    height: 100vh; 
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

header {
    font-size: 40px;
    font-family: helvetica;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 232, 179);
    height: 90px;
}

header img {
    width: 153px;
    margin-top: 16px;
    margin-right: 190px;
}

header h3 {
    margin: 0; 
    margin-right: 290px;
    margin-top: 14px;
    color: rgb(228, 145, 112);
}

/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV */

#main-nav a {
    color:rgb(228, 145, 112);
    margin-left: 60px;
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    margin-top: 33px;
}

#nav {
    display: flex;
    justify-content: center;
}

#main-nav {
    display: flex;
    justify-content: center;
}

/* RECORD PLAYER RECORD PLAYER RECORD PLAYER RECORD PLAYER RECORD PLAYER RECORD PLAYER RECORD */

#record {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    
}

/* DROP AREA DROP AREA DROP AREA DROP AREA DROP AREA DROP AREA DROP AREA DROP AREA */

.drop-area {
    width: 110px;
    height: 110px;
    background-color: rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    border-radius: 15px;
    color: #fff;
}

#drop-section {
    display: flex;
    align-items: center;
}



/* SOUNDS SOUNDS SOUNDS SOUNDS SOUNDS SOUNDS SOUNDS SOUNDS SOUNDS SOUNDS SOUNDS SOUNDS SOUNDS */

#sounds  { 
    font-size: 30px;
    gap: 30px;
}

#allsounds {
    display: flex;
    justify-content: center;
}

#sounds1 {
    display: flex;
}

#sounds2 {
    display: flex;
}

#sounds p {
    border: 20px red;
    padding: 30px;
    font-family: helvetica;
    /*background: linear-gradient(to bottom, #898989, #595959) no-repeat ; */
    background-color: rgba(0, 0, 0, 0.13);
    border-color: black;
    border-radius: 20px;
    box-shadow: 9px 4px rgb(0, 0, 0);
    color: white;
}

/* BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS  */

#pause {
   width: 63px;
}

#play {
    width: 63px;
    font-size: 42px;
}

#stop {
    width: 63px;
}

.playb  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    gap: 60px;
}

.playb button {
    height: 67px;
    font-size: 50px;
    color:  rgb(255, 255, 255);
    border-radius: 50px;
    /*background: linear-gradient(to bottom, #898989, #595959) no-repeat; */
    background-color: rgba(0, 0, 0, 0.13);
    border-color: rgb(0, 0, 0);;
}

/* HOW TO HOW TO HOW TO HOW TO HOW TO HOW TO HOW TO HOW TO HOW TO HOW TO HOW TO HOW TO */

#howto-use {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: helvetica;
    margin-top: 370px;
}